/* stylelint-disable selector-list-comma-newline-after */




.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }

  /* news style */

  #toloka16 {
	grid-area: skyview;
	padding: 1% 3% 3% 3%;
	margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
	height: auto;
}
/* main page style */

#mainphoto {
	background-image:url('../pictures/mainphoto2.jpeg');
	width: 100vw;
  /* min-width: 360px; */
	height: 100vh;
	/* background-repeat: no-repeat; */
	background-position: 95% 5%;
	background-size: cover;
  
	/* position: relative; */
  /* object-fit: cover;
  object-position: 50% 100%; */
  
} 

/* contacts style */

.grid-item-contacts {
  background-color: #F8F9FA;
  /* color: white; */
  border-radius: 5px;
  padding: 5rem;
  height: 5rem;
  align-content: space-between;
  justify-content: space-around;
}
.section-contacts {
  display: block;
  justify-content: center;
  align-items: center; 
  
}
.addressimg {
  width:5%;
  height:5%;
  padding-right:1%;
}


/* #entrance {
	background-image:url('../pictures/entrance.jpeg');
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
} */
  /* opacity: 50%; */ 
/* #tel {
  font-size:10vw;
  color:white;
  text-align: center;
  
  padding-top: 8%;
}



/* documents style */
/* #docs_body {
  background-color: #495057;
} */




.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* max-width: 1200px; */
  margin: 2% 2% 2% 2%;
  display: grid;
  grid-gap: 1rem;
  
}

.grid-item {
  background-color: #F8F9FA;
  /* color: white; */
  border-radius: 5px;
  padding: 1rem;
  height: 5rem;
  align-content: space-between;
  justify-content: space-around;
}
.section {
  display: flex;
  justify-content: left;
  align-items: left; 
  
}

.pdfimg {
    width:11%;
    height:11%;
    padding-right:1%;
}


/* unvisited link */
a:link {
  color: #6f6f70;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}





/* css news */
p#cf7_controls {
  text-align:center;
}
#cf7_controls span {
  padding-right:2em;
  cursor:pointer;
}
#cf7 {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto 10px;
}
#cf7 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}



